__pycache__/
output/
/model2.py
/test.py
/output_image_0.png
/output_image_1.png
.ipynb_checkpoints
__pycache__
clips/
**[Aa]rchived
.idea/
/clipasso/U2Net_/saved_models/u2net.pth
/dist/
/dynaphos.egg-info/
*.mp4
*.avi
/scratch/
*.pickle