__pycache__/
.ipynb_checkpoints
__pycache__
clips/
**[Aa]rchived
.idea/
/clipasso/U2Net_/saved_models/u2net.pth
/clipasso/CLIP_/Thumbs.db
/dist/
/dynaphos.egg-info/
*.mp4
*.avi
/scratch/
*.pickle
/data
/output